@model PasswordGenerator.Models.PasswordModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="post" action="Index">
    <div class="form-control">
        <div class="mb-3">
            <label for="PasswordLength" class="form-label">Password Length</label>
            <input type="number" class="form-control" name="PasswordLength" placeholder="Enter password length">
        </div>
        <div class="col-md-6 offset-md-3">
            <button type="submit" class="btn btn-primary">Generate Password</button>
        </div>
    </div>
   
</form>
